:root {
    --color-primary: #3b4470;
    --color-secondary: #464646;
    --color-tertiary: #f5e8e8;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-text: #fdfdfd;
    --color-white: #FFFFFF;
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2%;
    background-color: rgba(14, 32, 196, 0.1);
    background-image: url(assets/1.png);
    background-position: 50%;
    
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-family: 'Chakra Petch', sans-serif;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0 0;
}

/* Sección de entrada */
.input-section {
    flex: 60%;
    background-image: url(assets/Ruido.png);
    background-color: rgba(10, 58, 228, 0.2);
    background-repeat:round;
    border: 1px solid #48f304;
    border-radius: 64px 64px 64px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 900;
    font-style: normal;
    color: var(--color-white);
    border: 1px solid #000;
    border-radius: 25px 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
    padding: 3%;
    display: flex;
    background-image: url(assets/3.png);
}

.section-title {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 36px;
    font-weight: 700;
    /*color: var(--color-primary);*/
    margin: 10px 0;
    text-align: center;
    color: #FFFFFF;
}

/* Contenedores de entrada y botón */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    border: 2px solid #000;
    cursor: pointer;

}

.button-container {
    width: 300px;
    justify-content: center;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #faf9f9;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botón */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-tertiary);
    color:#2c2c2c;
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: #ffffff;
}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
}

.result-list {
    margin-top: 15px;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/* Botón de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}
